<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fabian.de.palaver">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="fabian.de.palaver.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permision.SEND"/>



    <application
        android:name=".PalaverApplication"
        android:allowBackup="true"
        android:icon="@drawable/palaver_logo_rund"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:debuggable="true">

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="de.uni_due.paluno.se.palaver" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.PalaverGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name=".gcm.PalaverInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name=".gcm.TokenService"
            android:exported="false">
        </service>

        <activity
            android:name=".LogInActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity
            android:name=".ContactListActivity"
            android:label="@string/app_name" />
        <activity android:name=".ChatActivity"/>
    </application>

</manifest>